html,
body {
	height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1f1e1e;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}

.slick-prev {
    right: 60px;
}





